{{> nav }}
 <h1>Bienvenido a Mercado </h1>
    <div class="row justify-content-around">
        {{#each productos}}
        <div class="card" style="width: 18rem;">
            <img src="./img/products/{{url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{nombre}}</h5>
              <p class="card-text">el precio del producto es: $ {{precio}} y tiene un stock de: {{stock}}</p>
              
              <form action="/carrito" method="post">
                <input type="hidden" name="id" value={{id}}>
                <input type="hidden" name="name" value={{name}}>
                <input type="hidden" name="price" value={{price}}>
                <input type="hidden" name="url" value={{url}}>
                <input type="number" name="cantidad" min="1" max={{stock}}>
                <button type="submit">Agregar al carrito</button>
              </form>
            </div>
          </div>
       {{/each}}
    </div>
